<div class="container mb-5 mt-5 w-50">

  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Apagar Tema</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center text-danger">Você tem certeza que deseja apagar o tema <strong>{{tema.id}}</strong>: <span class="text-secondary">{{tema.descricao}}</span>? <strong>Todas as postagens relacionadas a ele também serão deletadas.</strong></h4>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <h5 class="text-center text-primary">Tema: {{tema.descricao}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button routerLink='/tema' class="btn btn-outline-secondary mr-4"  >Não</button>
      <button (click)='apagar()' class="btn btn-dark" >Sim</button>
    </div>
  </div>


</div>
