<div class="fundo vh-100 d-flex flex-column justify-content-center">
  <div class="row my-auto mx-auto w-35">
    <div class="col rounded px-2 " id="login">
      <div class="d-flex flex-column align-items-center">
        <div>
          <h1 class="py-3 px-3">Login</h1>
        </div>
        <div class="w-75">
          <form class="px-3 pb-3">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="mt-2 btn btn-light">Entrar</button>
          </form>
        </div>
        <div class="w-75 pb-2">
          <hr>
          <p class="text-center">Não tem uma conta? <a href="">Cadastre-se</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-white text-end me-1 creditos-fotos">
    <small>Photo by <a href="https://unsplash.com/@sydneylens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Paul Carmona</a> on <a href="https://unsplash.com/s/photos/window?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </small>
  </div>
  <footer class="row justify-content-end">
    <app-rodape></app-rodape>
  </footer>
</div>
