<div class="overflow-x-hidden">
  <div class="fundo vh-100 d-flex flex-column justify-content-center">
    <div class="row my-auto mx-auto w-35">
      <div class="col rounded px-2 " id="login">
        <div class="d-flex flex-column align-items-center">
          <div>
            <h1 class="py-3 px-3">Login</h1>
          </div>
          <div class="w-75">
            <form class="px-3 pb-3">
              <div class="mb-3">
                <label for="InputUsuario" class="form-label">Usuário</label>
                <input [(ngModel)]='usuarioLogin.usuario' type="text" class="form-control" id="InputUsuario">
              </div>
              <div class="mb-3">
                <label for="InputPassword" class="form-label">Senha</label>
                <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control" id="InputPassword">
              </div>
              <button type="submit" class="mt-2 btn btn-light">Entrar</button>
            </form>
          </div>
          <div class="w-75 pb-2">
            <hr>
            <p class="text-center">Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-white text-end me-1 creditos-fotos">
      <small>Photo by <a
          href="https://unsplash.com/@sydneylens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Paul
          Carmona</a> on <a
          href="https://unsplash.com/s/photos/window?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </small>
    </div>
    <footer class="row justify-content-end">
      <app-rodape></app-rodape>
    </footer>
  </div>
</div>
