<div class="container-fluid fundo">
  <div class="row mx-auto">
    <div class="col-3"></div>
    <div class="col text-end text-white py-1 px-0">
      Todos os direitos reservados: Ana Oliveira &copy;
    </div>
    <div class="col">
      <ul class="rede-social my-auto py-1">
        <li>
          <a href="https://www.linkedin.com/in/anaolisilva/" target="_blank">
            <i class="fa fa-linkedin-square pr-2" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/anaolisilva" target="_blank">
            <i class="fa fa-github px-2" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>
