<div class="container-fluid fundo">
  <div class="row mx-auto">
    <div class="col text-white py-1 px-0 d-flex align-items-center justify-content-center">
      Todos os direitos reservados: Ana Oliveira &copy;
      <ul class="rede-social my-auto py-1 d-flex mx-2">
        <li>
          <a href="https://www.linkedin.com/in/anaolisilva/" target="_blank">
            <i class="fa fa-linkedin-square pr-2" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/anaolisilva" target="_blank">
            <i class="fa fa-github px-2" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
