<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <div class="row d-flex justify-content-center">

        <div class="col-7">
          <h1>Seja bem-vinde!</h1>
          <h4>Sinta-se livre para criar...</h4>
        </div>

      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-8">
          <button class="btn btn-dark me-3" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova postagem</button>
          <a href="#postagens" class="btn btn-dark">Todas as postagens</a>
        </div>

      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/img/Creativity-cuate.svg" alt="">
    </div>
  </div>
</div>

<div class="container my-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active fw-bold" id="nav-todasPostagens-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</button>
      <button class="nav-link fw-bold" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Minhas postagens</button>
      <button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Postagens por tema</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      lalalalala
    </div>
<!-- fiz com o primeiro, alterar para o resto também. -->

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>
</div>



<!-- Modal de nova postagem -->
<div class="modal fade " id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="titulo" placeholder="Digite seu título">
          </div>
          <div class="mb-3">
            <label for="corpo" class="form-label">Corpo</label>
            <textarea name="corpo" id="corpo" cols="30" rows="5" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label for="tema" class="form-label">Escolha um tema ou <a data-bs-dismiss="modal" routerLink="/tema">cadastre um novo</a>:</label>
            <select name="tema" id="tema" class="form-control">
              <option value="">Temas</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Publicar</button>
      </div>
    </div>
  </div>
</div>
